@model IEnumerable<Core.Model.HangfireJob>

@{
    ViewData["Title"] = "Jobs";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cron)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HangfireStartId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HangfireRecurringId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HangfireEndId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cron)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HangfireStartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HangfireRecurringId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HangfireEndId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Править</a> |
                <a asp-action="Start" asp-route-id="@item.Id">Запустить</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
